<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<img src="<%= picture %>" alt=""/>
<h4>Несколько слов о нашем герое: Burn — это энергетический напиток, который производится компанией Coca-Cola. Он был запущен в 2001 году и стал популярным благодаря своему агрессивному маркетингу и мощному энергетическому эффекту. Burn позиционируется как напиток для молодых, активных людей, ведущих динамичный образ жизни. 'yth' <%=desc%></h4>
</body>
</html>
